.App {
  text-align: center;
  margin:150px ;
background-image: url(https://wallpapercave.com/wp/wp3264682.jpg);
background-repeat: no-repeat;
background-size: cover;
}
/* margin top bottom right :left  
       top,bottom right,left */

